/* thumbnail link styles */
a.JdgTableThumbnail img {
	border: 1px solid #3191FF;/* #CCCCCC */
}
a.JdgTableThumbnail:hover img {
	border: 1px solid #FF7900;
}
/* thumbnail image styles */
img.JdgTableThumbnail {
	width: 66px;
	height: 55px;
	margin-right:5px;
}
