#
# NOTE: Those copyrights must exist in Copyright.cpp
#
#
# Sample: Dassault Systemes
#
DST = "Dassault Systemes" "(c) Copyright Dassault Systemes 1994-2001 all rights reserved . Licensed Material - Program Property of Dassault Systemes"
#
# The default: change <Company Name>
#
DFT = "<Company Name>" "(c) Copyright <Company Name> 1994-2002 all rights reserved . Licensed Material - Program Property of <Company Name>"
#
# Sample: IQUEA
#
IQUEA = "Meubles IQUEA" "(c) Copyright Meubles IQUEA 1932-2012 all rights reserved . Licensed Material - Program Property of Meubles IQUEA"
#
