BODY {background: #FFFFFF; color:#000080;}
A:link    {color:rgb(0,0,212);}
A:visited {color:rgb(102,0,128);}
A:hover   {background:rgb(222,98,113); color:#FFFFFF}
A:active  {color:#FF0000}

.title_doc {  font-family: Garamond; font-size: 20pt; text-align: center; font-weight: bold; color: #000080}

TH.title_cnx {font-family: Garamond;font-size: 12pt; text-align: center; background: #000080; color: #FFFFFF}
TABLE.cnx {width: 100%;}
TH.cnx {font-family: Garamond;font-size: 12pt; text-align: center; background: #000080; color: #FFFFFF}
TR.cnx1 {background: #D0D0FF; color: #000000; padding: 0 0 0 0; margin: 0 0 0 0}
TR.cnx2 {background: #BCBCF4; color: #000000; padding: 0 0 0 0; margin: 0 0 0 0}
TD.name {}

TH.title_dev {font-family: Garamond;font-size: 12pt; text-align: center; background: #000080; color: #FFFFFF}
TABLE.dev {width: 100%;}
TH.dev {font-family: Garamond;font-size: 12pt; text-align: center; background: #000080; color: #FFFFFF}
TR.dev1 {background: #D0D0FF; color: #000000; padding: 0 0 0 0; margin: 0 0 0 0}
TR.dev2 {background: #BCBCF4; color: #000000; padding: 0 0 0 0; margin: 0 0 0 0}
TD.devname {}
.devsep {background: #000080; font-size: 1pt; padding: 0 0 0 0; margin: 0 0 0 0}

TH.title_wire {font-family: Garamond;font-size: 12pt; text-align: center; background: #000080; color: #FFFFFF}
TABLE.wire {width: 100%;}
TH.wire {font-family: Garamond;font-size: 12pt; text-align: center; background: #000080; color: #FFFFFF}
TR.wire1 {background: #D0D0FF; color: #000000; padding: 0 0 0 0; margin: 0 0 0 0}
TR.wire2 {background: #BCBCF4; color: #000000; padding: 0 0 0 0; margin: 0 0 0 0}
TD.wirename {}
.wiresep {background: #000080; font-size: 1pt; padding: 0 0 0 0; margin: 0 0 0 0}
