html, body {
background-image:url('../images/DS_BG.gif'); 
background-attachment: fixed;
font-family: verdana, arial, helvetica, sans-serif; font-size: 8pt;
}




h1 {
font-size : 150%; 
color : #008080; 
text-align: left;
}


table {
border-collapse:collapse;
font-family: verdana, arial, helvetica, sans-serif; font-size: 8pt;}
}


 td {
     
  border:1px solid #b0b0b0;
  
    

}

.noborder
{
	border:0px; 
}

.grise1
{
border:1px solid #000000;
background-color : #b0b0b0; 
}

.grise0
{
border:1px solid #000000;
background-color : #d0d0d0; 
}

nombre
{
text-align: right;
}

.rcKO
{
background-color : lightcoral;
font-color : #eeeeee
}

.rcOK
{
background-color : lightgreen;
}

.pertOK
{
background-color : lightyellow;
}

.pertKO
{
background-color : red;
}

a:visited    { color: #0000FF; text-decoration: underline }
a:hover { color: #FF0000; text-decoration: underline}

